*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.card img{
    height: 100%;
    width: 100%;
    object-fit: cover
}

.product img{
    height : 10rem;
    width: 10rem;
    object-fit: cover;
    margin : 0.5rem
}

@media (max-width : 770px){
    .product img{
        max-height : 10rem;
        width: calc(calc(90vw/3));
        object-fit: cover;
        margin : 0.5rem;
    }
}